<!DOCTYPE html>
<html>
  <head>
    <title>CurtisSportingGoods</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <Header>
      <h1>Curtis' Sporting Goods</h1>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', root_path %></li>
          <li><%= link_to 'Contact', root_path %></li>
        </ul>
      </nav>
    </Header>
    <%= yield %>
  </body>
</html>
